.wrap-container {
  height: 100vh;
  overflow: hidden;
}

.wrap-sidebar {
  box-shadow: 1px 0 8px 0 var(--base-border-color);

  span {
    font-size: 1rem !important;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 55px);

    .ant-menu-item,
    .ant-menu-title-content {
      padding: 0 !important;
    }

    ul li > div,
    ul li > span {
      padding-left: 10px !important;
    }
  }

  &__logo {
    margin-top: 12px;
    margin-bottom: 16px;
    text-align: center;
    cursor: pointer;
  }

  &__avatar {
    text-align: center;
    margin-bottom: 20px;
  }

  &__profile {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    border: 1px solid red;

    &-user {
      margin-top: 12px;
      position: relative;
      width: 24px;
      height: 24px;
      background-color: #004c97;

      span {
        transform: scale(1) translateX(-50%);
        -webkit-transform-origin: 0 center;
        transform-origin: 0 center;
        font-weight: 600;
        line-height: 24px;
        position: absolute;
        color: white;
        font-size: 14px;
        bottom: 0;
        left: 50%;
      }

      p {
        padding: 0;
        margin: 0;
        position: relative;
        left: 33px;
        top: -8px;
        font-size: 16px;
        color: #8c8c8c;
      }
    }
  }
}

.wrap-main {
  height: 100%;
  overflow: auto;
}

.ant-menu-inline-collapsed {
  width: 48px;

  .ant-menu-item {
    padding: 0;
    text-align: center;
  }

  .ant-menu-submenu {
    .ant-menu-submenu-title {
      padding: 0;
      text-align: center;
    }
  }
}

.ant-menu-vertical-collapsed {
  .ant-menu-submenu-title {
    width: 300px;
    overflow: visible;
  }
}

.ant-menu-submenu-popup .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title {
  overflow: visible;
  width: auto;
}

.ant-menu-sub {
  max-height: 450px !important;
  overflow-y: auto !important;
}

/// HEADER
.wrap-header {
  padding: 0;
  max-height: 48px;
  box-shadow: 1px 0 8px 0 var(--base-border-color);
  font-family: var(--primary-font);

  &__title {
    display: flex;
    margin: 0;
    padding: 10px 16px;
    font-size: 20px;
    font-weight: 500;

    &-breadcrumb {
      font-size: 14px; 
    }

    &-rootPage {
      font-size: 20px;
    }
  }

  &__col {
    position: relative;
    margin-left: auto;
    flex: auto;
    width: 100%;
    left: 47px;
  }

  &__link {
    padding-right: 48px;
  }

  &__alert {
    width: 50%;
    z-index: 999;
    position: absolute;
    right: -40px;
  }

  &__arrow {
    padding-right: 6px;
    color: var(--base-primary-color);
    transition: color .3s;

    &:hover {
      color: var(--base-hover-color);
    }
  }
}

//// CONTENT
.wrap-content {
  padding: 16px;
  overflow: hidden;
  height: calc(100vh - 48px);
}

.ant-modal-body {
  font-family: var(--primary-font);
  font-size: 14px;
}

.confirm-icon-color { color: #faad14 !important; }

.border-left { border-left: 1px solid var(--border-color); }

.wrap {
  &-work {
    &__space {
      &-container { position: relative; }

      &-editor {
        overflow: hidden;
        height: calc(100vh - 200px);
      }

      &-log { height: 100%; }
    }
  }

  &-editor {
    &__tabs {
      margin: 0;

      .ant-tabs-nav {
        margin: 0;
        padding-right: 1px;
      }

      .ant-tabs-nav-more { background: white !important; }

      .ant-tabs-tab {
        &:first-child {
          border-left: 0 !important;
        }

        padding: 5px 16px !important;
        border-bottom: 0;
      }

      .ant-tabs-nav-operations {
        button {
          padding: 8px 14px;
        }
      }
    }
  }
}

.root-dark-mode {
  .wrap-header,
  .wrap-sidebar {
    box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.4);

  }
}