.container {
   display: flex;
   align-items: center;
   gap: 1px;
   width: 100%;
   padding: 8px 0;
   overflow: hidden;
}

.avatar {
   flex-shrink: 0;
}

.loading {
   display: flex;
   align-items: center;
}
