# ===================================
# === Общие исключения для всего проекта ===
# ===================================

# Зависимости
node_modules/
npm-debug.log*
yarn-error.log
yarn-debug.log
.pnpm-debug.log
*.lock

# Сборки
/dist
/build
/out
/.cache

# Переменные окружения
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE и редакторы
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.DS_Store

# Логи
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
.dockerignore
compose.yaml
docker-compose.override.yml

# macOS
.DS_Store


# ===================================
# === Frontend специфика ===
# ===================================
/frontend/node_modules/
/frontend/dist
/frontend/build
/frontend/.vite

/frontend/tsconfig.tsbuildinfo


# ===================================
# === Backend специфика ===
# ===================================
/backend/node_modules/
/backend/dist
/backend/build
/backend/.nyc_output
/backend/coverage

# ts-node cache
/backend/.ts-node
