.error-page {
   &__wrap {
      font-size: 16px;
      padding: 80px;
      line-height: 24px;
      font-weight: 400;
      span {
         display: block;
      }
   }
   &__header {
      font-weight: 500;
      font-size: 38px;
      line-height: 46px;
   }
   &__code-text {
      padding-top: 4px;
      color: #8c8c8c;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
   }
   &__code-desc {
      padding: 32px 0;
   }
   &__action {
      max-height: calc(100vh - 350px);
      overflow: auto;
   }
   &__collapse {
      &-header {
         font-size: 15px;
         font-weight: 600;
      }
      .ant-collapse-header {
         padding-bottom: 0 !important;
      }
      .ant-collapse-content-box {
         padding: 0 !important;
      }
      pre {
         margin: 0;
         width: 60vw;
      }
   }
}
