.placeName {
   font-size: 18px;
   font-weight: 700;

   @media (max-width: 768px) {
      font-size: 16px;
   }
}

.placeAddress {
   font-size: 15px;
   padding-top: 4px;
   font-family: var(--secondary-font);
   color: var(--light-grey);

   @media (max-width: 768px) {
      font-size: 14px;
   }
}

.placeImage {
   width: 100%!important;
   height: 100px!important;
   border-radius: 8px;
   cursor: pointer;
   
   @media (max-width: 768px) {
      height: 60px!important;
   }
}
