.sumTextConfirmed {
   color: var(--primary4);
   font-weight: 700;
}

.sumTextLimit {
   font-weight: 700;
}

.additionalText {
   font-size: 13px;
   padding-top: 4px;
   // font-family: var(--secondary-font);
   color: var(--light-grey);
}