.price {
   padding-left: 32px;
   font-size: 18px;
   color: green;

   @media (max-width: 768px) {
      padding-left: 16px;
      font-size: 16px;
   }
}

.footer {
   width: 100%;
   margin-top: 16px;
   border-top: 1px solid #e8e8e8;
   padding-top: 8px;

   @media (max-width: 768px) {
      margin-top: 12px;
      padding-top: 6px;
   }
}
