.price {
   padding-left: 32px;
   font-size: 18px;
   color: green;
}

// @media (max-width: 768px) {
//    .price {
//       font-size: 18px;
//    }
// }
.footer {
   width: 100%;
   margin-top: 16px;
   border-top: 1px solid #e8e8e8;
   padding-top: 8px;
}