.modalList {
   margin: 0;
   padding: 0;
   list-style: none;
}

.modalItem {
   padding: 12px;
   border: 1px solid #f0f0f0;
   // border-radius: 8px;
   margin-bottom: 8px;
   position: relative;

   &:last-child {
      margin-bottom: 0;
   }

   .modalItemTime {
      font-size: 16px;
      font-weight: 500;
      // margin-bottom: 8px;
   }

   // .modalItemPlace { margin-bottom: 8px; }

   .modalItemPrice {
      // margin-top: 8px;
      color: #52c41a;
   }
}

.modalItemActions {
   position: absolute;
   top: 10px;
   right: 10px;
}
