.extraClose {
   color: gray;
   font-size: 14px;
}

.editGameBtn {
   margin-left: 16px;
   font-size: 14px;
   cursor: pointer;
}

.extraSuccess {
   color: green;
   font-size: 14px;
}

.extraFull {
   color: red;
   font-size: 14px;
}

.playerTotal {
   font-size: 16px;
   font-weight: 500;
}
.price {
   font-size: 16px;
   font-weight: 500;
   margin-top: 16px;
}