body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.confirm-icon-color {
  background: #fff;
  color: #1890ff !important;
}

.list-active {
  background: #e6f7ff !important;
}

.object-context-menu {
  &_wrap {
    display: none;
  }

  &_container {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15) !important;
    border-radius: 2px;

    li {
      font-size: 13px;
      // height: 30px !important;
      margin-block: 0 !important;
      margin-inline: 0 !important;
      width: auto !important;
      white-space: nowrap;
    }

    li:hover {
      color: #000;
      background-color: #f5f5f5 !important;
    }

    &__show {
      position: absolute;
      display: block;
      z-index: 999;
    }
  }
}

.row-dragging {
  background: #fafafa;
  border: 1px solid #ccc;
  cursor: pointer;
}

.row-dragging td {
  padding: 5px 12px;
}

.row-dragging .drag-visible {
  visibility: visible;
}

.mt-24 {
  margin-top: 24px;
}

.pb-24 {
  padding-bottom: 24px;
}

.ps-16 {
  padding-left: 16px;
}

.mb-26px {
  margin-bottom: 26px;
}

.p-8 {
  padding: 8px;
  margin: 0;
}

.pt-8 {
  padding-top: 8px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-24 {
  padding-top: 24px;
}

.ps-8 {
  padding-left: 8px;
}

.ps-16 {
  padding-left: 16px;
}

.pe-16 {
  padding-right: 16px;
}

.mt-22 {
  margin-top: 22px;
}

.align-center {
  display: flex;
  align-content: center;
  align-items: center;
}

.table_buttons-manage-lg {
  margin-bottom: 8px;
  display: flex !important;
  gap: 8px;

  button {
    height: 28px !important;
    display: flex !important;
    padding: 4px 12px !important;
    flex-direction: column !important;
    align-items: center !important;
  }
}

.table_buttons-manage-md {
  margin: 24px 0 0 16px;
  display: flex;
  gap: 8px;

  button {
    height: 24px !important;
    display: flex !important;
    padding: 2px 8px !important;
    flex-direction: column !important;
  }
}

.table_buttons-custom {
  margin-bottom: 8px;
  display: flex;
  gap: 8px;

  button, a > button {
    padding: 6px 14px !important;
    height: 32px !important;
  }
}

.middle-text-table .ant-table table {
  font-size: 13px;
}

.middle-text-table input {
  font-size: 13px;
}

.list-control {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 40px;
  width: 100%;
  background-color: var(--base-background);

  &__button {
    padding: 0;
    display: flex;
    font-size: 20px;
    align-items: center;
    padding: 0 16px 0 0;
    color: #262626;

  }
}

.button-icon-control {
  outline: none;
  border: none;
  box-shadow: none;
}

.wrap-list__lists_spin {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
}

.general-left-list {
  &__container {
    box-sizing: border-box;
    height: calc(100vh - 80px);
    min-width: 200px;
    overflow: auto;
    border: 1px solid var(--base-border-color);
    display: flex;
    flex-direction: column;
    width: 100%;

  }

  &__control {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 40px;
    width: 100%;


    &_button {
      display: flex;
      font-size: 20px;
      align-items: center;
      padding: 4px 16px 0 0;
      color: #474545;
    }
  }
}

.general-right-space {
  &__container {
    border-right: 1px solid var(--base-border-color);
    border-bottom: 1px solid var(--base-border-color);
  }

  &__control {
    max-height: 40px;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 16px 0 16px 8px;
    border-bottom: 1px solid var(--border-color);

  }

  &__content {
    position: relative;
    height: calc(100vh - 161px);
    overflow: auto;
  }
}

.automations {
  &__tabs {
    margin: 0;

    .ant-tabs-nav {
      margin: 0;
      padding-right: 1px;
    }

    .ant-tabs-nav-more {
      background: white !important;
    }

    .ant-tabs-tab-with-remove {
      &:first-child {
        border-left: 0 !important;
      }

      padding: 5px 16px !important;
      border-left: 1px solid var(--base-border-color) !important;
      border-bottom: 0;
      border-right: 1px solid var(--base-border-color) !important;
      border-top: 1px solid var(--base-border-color) !important;
    }

    .ant-tabs-nav-operations {
      button {
        padding: 8px 14px;
      }
    }
  }

  &__tabs_border {
    border-left: 1px solid var(--base-border-color);
    border-right: 1px solid var(--base-border-color);
  }

  &__tabs_buttons {
    width: 100%;
    background: white;
    display: flex;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid var(--base-border-color);
    min-height: 40px;

    &_btn {
      border: none;
      outline: none;
      box-shadow: none;
    }
  }

  &__tabs_content {
    padding: 24px;
  }

  &__form-block {
    padding: 0 32px;

    &:first-child {
      padding-top: 32px;
    }

    font-family: var(--primary-font);
  }

  &-modal {
    display: flex;
    grid-gap: 20px;

    &__download-props {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;

      .ant-upload-list-item {
        height: 48px;
      }
    }

    &__download-wrap {
      height: 60vh;
      overflow: auto;
    }

    &__title {
      font-weight: 500;
    }

    &__el {
      display: flex;
      flex-direction: column;
      grid-gap: 20px;

      &:last-child {
        width: 100%;
      }

      &-key {
        margin-top: 5px;
      }
    }
  }

  &-list {
    &__table {
      overflow: auto;

      tr,
      .ant-table-row {
        cursor: pointer !important;

        td {
          padding-left: 16px !important;
        }

        th {
          padding: 0 !important;
          height: 40px;
        }
      }

      &--virtual {
        overflow: hidden;

        .ant-table-tbody-virtual-scrollbar-horizontal {
          display: none;
        }

      }
    }

    &__rows {
      display: flex;
      padding: 3px;

      &-text {
        padding-left: 7px;
      }

      &-selected {
        background-color: var(--base-table-selected-background);

        &:hover > td,
        &:hover > div {
          background-color: var(--base-table-selected-background-hover) !important;
        }
      }

      &-leaf {
        &:hover > td {
          background-color: var(--base-table-selected-background) !important;

        }
      }

      &-root {
        &:hover {
          background-color: inherit !important;
        }
      }
    }

    &__header {
      background: #fafafa;
      width: 100%;

      &-text {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        align-content: center;
      }
    }

    &__name {
      display: flex;
      gap: 8px;
    }

    &__col {
      padding: 9px 15px;
      word-break: break-word;
    }

    &__status-btn {
      padding-top: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
    }

    &__description {
      padding-left: 5px;
      font-size: 14px;
    }

    &__search {
      padding: 9px 16px;
      background: #fafafa;
      border-radius: 0;
      outline: 1px solid var(--border-color);

      &:hover {
        background: #e8e8e8;
      }
    }
  }
}

.automation-content-wrap {
  &__spin {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
}

.ant-btn[disabled] {
  background: none;
}

.modal-box-custom,
.modal-box-custom_with-footer {
  padding: 0;

  .ant-modal-content {
    padding: 0;
  }

  .ant-modal-body {
    padding: 32px;
  }

  .ant-modal-header {
    border-bottom: 1px solid #f0f0f0;
    border-radius: 2px 2px 0 0;
    color: rgba(0, 0, 0, 0.85);
    padding: 16px 24px;
    margin: 0;

  }
}

.modal-box-custom_with-footer {
  .ant-modal-footer {
    padding: 16px;
  }
}

.steps-content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.steps-action {
  align-self: flex-end;
  margin-top: 30px;
}

.event-selected {
  background-color: var(--base-table-selected-background-hover) !important;
  cursor: pointer;
}

.ant-tabs-nav-wrap {
  height: 40px;
}

.dygraph-legend {
  position: absolute;
  font-size: 14px;
  z-index: 10;
  padding: 0.7rem 1rem;
  background: var(--base-background);
  line-height: normal;
  text-align: left;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: rgba(67, 90, 111, 0.3) 0px 0px 1px,
  rgba(67, 90, 111, 0.47) 0px 2px 4px -2px;
}

.dygraph-legend-line {
  display: inline-block;
  position: relative;
  padding-left: 13px;
  margin-right: 8px;
  border-bottom-width: 13px;
  border-bottom-style: solid;
}

.dygraph-legend-row {
  display: flex;
  align-items: center;
  margin-top: 6px;
  flex-wrap: nowrap;
}

.dygraph-axis-label {
  font-size: 12px;
  z-index: 10;
  line-height: normal;
  overflow: hidden;
  color: black;
  opacity: 0.8;
}

.dygraph-axis-label-y {
  padding-right: 0.3rem;
}

.dygraph-legend-mapValue {
  margin-top: 6px;
}

// // severity
.event-normal {
  background-color: #80e976 !important;
}

.event-indeterminate {
  background-color: #cc6dca !important;
}

.event-warning {
  background-color: #7ac5fc !important;
}

.event-minor {
  background-color: #fefeab !important;
}

.event-major {
  background-color: #feab6c !important;
}

.event-critical {
  background-color: #ff8369 !important;
}

// Console Activators and Script
.wrap {
  &-log {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      background: #ffffff;
      padding: 2px 0px 2px 16px;
      border-bottom: 1px solid var(--border-color);

      &-text {
        margin: 0;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #595959;
        margin-right: 10px;
      }

      &-icon {
        margin-right: 5px;
        cursor: help;

        &-click {
          outline: none;
          border: none;
          box-shadow: none;
        }
      }
    }

    &__autoconsole, &__info {
      box-sizing: border-box;
      font-size: 11px;
      line-height: 15px;
      overflow: auto;
      background: white;
      padding: 7px;
      height: 100%;

      .logline {
        margin: 2px;

        &__script {
          &-start {
            color: #65b40e;
          }

          &-end {
            color: #3939eb;
          }

          &-err {
            color: #e83912;
          }

          &-warn {
            color: #b16814;
          }

          &-debug {
            color: #854d95;
          }
        }
      }
    }
  }
}

.tree-search-value {
  color: #ff4d4f;
}

// Status point table
.table-status_work:before,
.table-status_unavailable:before,
.table-status_stopped:before,
.table-status_init:before,
.table-status_unknow:before {
  font-weight: 500;
  content: '';
  display: inline-block;
  margin: 0 7px 2px 0;
  width: 5px;
  height: 5px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
}

.table-status_work:before {
  background-color: #52c41a;
}

.table-status_unavailable:before {
  background-color: #ff4d4f;
}

.table-status_stopped:before {
  background-color: #faad14;
}

.table-status_init:before {
  background-color: #1890ff;
}

.table-status_unknow:before {
  background-color: var(--border-color);
}

.table-load_normal,
.table-load_warning,
.table-load_error {
  font-weight: 500;
}

.table-load_warning {
  color: #faad14;
}

.table-load_error {
  color: #f5222d;
}

.dygraph-xlabel {
  display: flex;
  justify-content: center;
  margin-top: 1.4rem;
}

.leaflet-control-attribution {
  a {
    display: none;
  }

  span {
    display: none;
  }
}

// COMMON ANTD STYLES

.ant-modal-confirm .ant-modal-confirm-btns {

  .ant-btn-default {
    &:hover {
      color: var(--base-hover-color);
      border-color: var(--base-hover-color);
    }
  }

  .ant-btn-primary {
    background-color: var(--base-primary-color);

    &:hover {
      background-color: var(--base-hover-color);
    }
  }
}

.ant-picker-datetime-panel .ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
  background-color: var(--base-table-selected-background) !important;
}

.ant-table .ant-table-row-expand-icon {
  &:hover,
  &:active,
  &:focus,
  &-expanded {
     border-color: var(--base-hover-color);
     color: var(--base-hover-color);
  }
}

// DARK MODE ANTD STYLES

.root-dark-mode {
  /* GENERAL */

  body {

    // дефолтовый скроллбар
    ::-webkit-scrollbar-thumb {
      background-color: #9f9f9f;
    }

    ::-webkit-scrollbar-track {
      background-color: var(--grey);
    }
  }

  /* GRAPHICS */

  .dygraph-legend {
    box-shadow: rgb(0 0 0 / 40%) 0px 4px 8px 0;
  }

  .dygraph-axis-label {
    color: var(--dark-mode-text-color) !important;
  }

  .ant-table-tbody-virtual-scrollbar-thumb {
    background-color: rgb(165, 165, 165) !important;
  }

  /* AUTOMATION */

  // таблицы (ScriptList, DataSourceList, etc)
  .general-left-list__container {
    & {
      .ant-table-container::after {
        box-shadow: none !important
      }
      
    }
    
  }

  // иконки в панели управления списка (ControllButton)
  .list-control__button,
  .general-left-list__control_button {
    color: inherit;
    &:disabled {
      color: rgba(255,255,255,0.25)
    }
    &.ant-btn-dangerous:not([disabled]) {
      color: #dc4446
    }
  }

  // ряд с иконками в панели управления рабочего пространство (EditControls, DataSourceControls, etc) 
  .general-right-space__control,
  .automations__tabs_buttons {
    border-bottom: 1px solid transparent;
  }

  // ряд с иконками в панели управления рабочего пространство (Controls) 
  .automations__tabs_buttons {
    background-color: var(--grey);
    border-bottom: 1px solid var(--base-border-color);
    // border-bottom: 1px solid var(--black);

    &_btn {
      background-color: var(--grey);
      &:hover {
        background-color: var(--grey) !important;
      }
    }
  }

  /* INVENTORY */

  // Graphin
  .graphin-components {

    //контекстное меню
    .graphin-components-contextmenu {
      background-color: var(--black) !important;

      .ant-menu-item {
        background-color: var(--black) !important;

          &:hover {
            background-color: var(--grey) !important;
          }
      }
    }

    // панель с инструментами
    .graphin-components-toolbar {
      background-color: var(--base-background) !important;
    }

  }

  /* MONITORING */

  .status_normal .ant-select-selector,
  .status_indeterminate .ant-select-selector,
  .status_warning .ant-select-selector,
  .status_minor .ant-select-selector, 
  .status_major .ant-select-selector,
  .status_critical .ant-select-selector {
    color: var(--black)
  }
  /* MONITORING */

  .event-normal,
  .event-indeterminate,
  .event-warning,
  .event-minor,
  .event-major,
  .event-critical {
    color: var(--black)
  }


  /* ANTD COMPONENTS */

  // Modal Confirm
  .ant-modal-root {

    .ant-modal-header {
      border-bottom: 1px solid var(--grey-border-color);
    }

    .ant-modal-footer {
      border-top: 1px solid var(--grey-border-color);
    }

    .ant-modal-content,
    .ant-modal-header,
    .anticon-exclamation-circle {
      background-color: var(--base-background);
      // background-color: #1f1f1f;
    }
  
    .ant-modal-confirm-title {
      color: #fff;
      
      div p {
        color: var(--dark-mode-text-color);
      }
    }
  
    .ant-modal-confirm-btns {
      .ant-btn-default {
        background-color: var(--grey);
        // background-color: var(--black);
        border-color: var(--grey-border-color);
        color: var(--dark-mode-text-color);
  
        &:hover {
          border-color: var(--base-hover-color);
          color: var(--base-hover-color);
        }
      }
    }
  }

  // Message
  .ant-message-notice-content {
    background-color: var(--base-background) !important;
    color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.3),
                0 3px 6px -4px rgba(0, 0, 0, 0.12),
                0 9px 28px 8px rgba(0, 0, 0, 0.05) !important;
  }

  // DatePicker
  .ant-picker-datetime-panel-container .ant-picker-now-btn {
    color: var(--base-primary-color);

    &:hover {
      color: var(--base-hover-color);
    }

  }

  // TextArea 
  textArea.ant-input {
    color: var(--dark-mode-text-color) !important;
    background-color: var(--base-background) !important;
    border-color: var(--base-border-color) !important;
    &::placeholder {
      color: var(--light-grey);
    }
  }

  // Splitter
  .ant-splitter {
    .ant-splitter-panel {
      scrollbar-width: auto;
    }
  
    .ant-splitter-bar-dragger::before {
      background-color: rgba(0, 0, 0, 0.3)
    }
  }

  // Table 
  .ant-table-bordered {
    .ant-table-header th {
      border-inline-end: 1px solid #383838 !important;
    }
  }
}
