.wrapReserved {
   width: 100%;
   display: flex;
   flex-direction: column;
}

.gamesList {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 16px;
}

@media (max-width: 1200px) {
   .gamesList {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 768px) {
   .gamesList {
      grid-template-columns: 1fr;
      gap: 12px;
   }
}
