.calendarWrap {
   width: 100%;
   :global {
      .ant-picker-calendar { padding: 8px; }
   }
}

.events {
   margin: 0;
   padding: 0;
   list-style: none;

   li {
      // margin-bottom: 4px;
      // padding: 0 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
   }
}
